.cart {
  background: transparent;
  transition: 1s;
  cursor: pointer;
  margin-bottom: 6px;
  &:hover {
    transform: scale(1.1);
  }
}

.filters {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}