.user-page {
  margin: 100px auto;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

.user-image-wrapper {
  width: 200px;
  & > img {
    border-radius: 50%;
  }
}

.user-page-basketItems {
  color: #FFC107FF;
}