.basket {
  background: transparent;
  transition: 1s;
  cursor: pointer;
  margin-bottom: 6px;
  &:hover {
    transform: scale(1.1);
  }
}

.top-basket {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 40px;
}

.basket-back-arrow {
  display: flex;
  align-items: center;
  gap: 5px;
  margin-top: 20px;
}