.Pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  outline: transparent;

  & > li {
    margin: 2px;
    width: 30px;
    height: 30px;
  }

  & > li > a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    color: white;
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: 50%;
    outline: transparent;
    cursor: pointer;

    &:hover {
      background-color: #b68e18;
      transition: .5s;
    }
  }

  & > .Pagination__active > a {
    background-color: #FFC107FF;
    border-color: #FFC107FF;
    color: black;
  }
  & .Pagination__active > a,
  & .Pagination__active > a:hover,
  & .Pagination__active > a:focus {
    background-color: #FFC107FF;
    border-color: #FFC107FF;
    cursor: default;
    outline: transparent;
  }

  & > .disabled > a {
    cursor: default;

    &:hover {
      background-color: transparent;
    }
  }
}